<aside class="left-sidebar" data-sidebarbg="skin5" th:fragment="asside">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul class="p-t-30" id="sidebarnav">
                <li class="sidebar-item "><a aria-expanded="false"
                                             class="sidebar-link waves-effect waves-dark sidebar-link"
                                             href="/home/"><i class="mdi mdi-view-dashboard"></i><span
                        class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"><a aria-expanded="false"
                                            class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/send/"><i class="fas fa-external-link-square-alt"></i><span
                        class="hide-menu">Send Money</span></a></li>

                <li class="sidebar-item"><a aria-expanded="false" class="sidebar-link has-arrow waves-effect waves-dark"
                ><i class="fas fa-balance-scale"></i><span
                        class="hide-menu">Receive Money</span></a>

                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a class="sidebar-link" href="/receive/same/"><i
                                class="fas fa-dolly-flatbed"></i><span class="hide-menu">Same</span></a></li>


                        <li class="sidebar-item"><a class="sidebar-link" href="/receive/different/"><i
                                class="fas fa-coins"></i><span class="hide-menu">Different</span></a></li>

                    </ul>
                </li>


                <li class="sidebar-item"><a aria-expanded="false" class="sidebar-link has-arrow waves-effect waves-dark"
                                            ><i class="fas fa-wallet"></i><span
                        class="hide-menu">Finance </span></a>

                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a class="sidebar-link" href="/deposit/"><i
                                class="fas fa-file-invoice-dollar"></i><span class="hide-menu">Deposit</span></a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/withdraw/"><i
                                class="fas fa-coins"></i><span class="hide-menu">Withdraw</span></a></li>

                        <li class="sidebar-item"><a class="sidebar-link" href="/transfer/"><i
                                class="fas fa-exchange-alt"></i><span class="hide-menu"> Transfer </span></a></li>

                        <li class="sidebar-item"><a class="sidebar-link" href="/exchange/">
                            <i class="fas fa-money-bill-alt"></i>
                            <span class="hide-menu">Exchange</span></a></li>

                    </ul>
                </li>
                <li class="sidebar-item"><a aria-expanded="false"
                                            class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/customers/"><i class="fas fa-users"></i><span class="hide-menu">Customers</span></a>
                </li>


                <li class="sidebar-item"><a aria-expanded="false"
                                            class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/branches/"><i class="fas fa-home"></i><span class="hide-menu">Branches</span></a>
                </li>


                <li class="sidebar-item"><a aria-expanded="false"
                                            class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="report.html"><i class="fas fa-chart-pie"></i><span class="hide-menu">Reports</span></a>
                </li>
                <li class="sidebar-item"><a aria-expanded="false"
                                            class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="setting.html"><i class="fas fa-sliders-h"></i><span class="hide-menu">Settings</span></a>
                </li>
            </ul>
        </nav>

    </div>
    <!-- End Sidebar scroll-->
</aside>
