<div class="footer" style="background: rgba(0,0,0,0.1); padding: 20px; margin-top: 10px;"
     th:fragment="footer"
>
    All Rights Reserved by ©Twekl Company.
    </footer>


</div>


<script src="../../static/libs/jquery/dist/jquery.min.js"></script>
<script src="../../static/js/jquery.ui.touch-punch-improved.js"></script>
<script src="../../static/js/jquery-ui.min.js"></script>

<script src="https://kit.fontawesome.com/a98b0d209e.js"></script>
<script src="../../static/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="../../static/libs/bootstrap/dist/js/bootstrap.min.js"></script>


<script src="../../static/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="../../static/extra-libs/sparkline/sparkline.js"></script>

<script src="../../static/js/waves.js"></script>

<script src="../../static/js/sidebarmenu.js"></script>

<script src="../../static/js/custom.min.js"></script>


<script src="../../static/libs/moment/min/moment.min.js"></script>
<script src="../../static/libs/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="../../static/js/pages/calendar/cal-init.js"></script>


