<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Twekl CO</title>

    <link href="/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet"/>
    <link href="/extra-libs/calendar/calendar.css" rel="stylesheet"/>
    <link href="/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">


</head>

<body>
<div id="main-wrapper">
    <!--header.html  that's here  -->

        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

    <div th:replace="fragments/header :: header"></div>

    <div th:replace="fragments/assidebar :: asside"></div>


<!--    <th:block layout:fragment="content"> </th:block>-->

    <div class="page-wrapper" layout:fragment="content"></div>

    <!--footer.html  that's here  -->

</div>

</body>


<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/js/jquery.ui.touch-punch-improved.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<script src="https://kit.fontawesome.com/a98b0d209e.js"></script>
<script src="/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>


<script src="/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/extra-libs/sparkline/sparkline.js"></script>

<script src="/js/waves.js"></script>

<script src="/js/sidebarmenu.js"></script>

<script src="/js/custom.min.js"></script>


<script src="/libs/moment/min/moment.min.js"></script>
<script src="/libs/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="/js/pages/calendar/cal-init.js"></script>


</body>


</html>