<!DOCTYPE HTML>
<html layout:decorate="~{fragments/main_layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css"
          rel="stylesheet">
    <link th:href="@{../css/jquery.signature.css}" rel="stylesheet">


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{../js/jquery.signature.js}"></script>


    <script>

        //todo to external file
        $(document).ready(function () {

            $('#transaction_details').hide();

            $("#getTransaction").on('click', function (e) {
                e.preventDefault();
                var url = window.location.origin + $('form').attr('action') + $('#tr_num').val();     // Returns full URL (https://example.com/path/example.html)
                console.log(url);
                $.getJSON(url, function (data) {

                    console.log(data);
                    $('#transaction_Id').html(data.id);
                    $('#senderName').html(data.senderName);
                    $('#receiveName').html(data.receiverName);
                    $('#date').html(data.date);
                    $('#receivingCurrency').html(data.receivingCurrency);
                    $('#receivedAmount').html(data.receivedMoney);

                    $('#transaction_details').show();

                });

            })


            $('#approveTransaction').on('click', function (e) {
                //todo think again for approving button
                var trId = $('#transaction_Id').html();

                var url = window.location.origin + $('form').attr('action') + 'approve?trNum=' + $('#tr_num').val()
                console.log(url);
                $.getJSON(url, function (data) {
                    console.log(data);
                    if (data['success'])
                        alert('Transaction Money Received Successfully')
                    else
                        alert('Failed!');

                });
            });
        });


    </script>
</head>
<body>

<div layout:fragment="content">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Receive Money</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Receive</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">


        <form action="/receive/transactions/" method="get" enctype="multipart/form-data">
            <div class="form-row">

                <div class="col">
                    <label for="tr_num">Transaction Number Or Receiver Name :</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-hashtag"
                                                                                     aria-hidden="true"></i></span>
                        </div>
                        <input th:name="trName" type="text" class="form-control" id="tr_num"
                               placeholder="e.g : 03264 or Receiver Name"
                               aria-describedby="inputGroupPrepend" required="">

                    </div>
                </div>

            </div>
            <br>


            <button id="getTransaction" type="submit" class="btn btn-info"><i class="fas fa-credit-card"
                                                                              aria-hidden="true"></i> &nbsp;&nbsp;Get
                Information
            </button>
        </form>


        <br/>

        <div id="transaction_details" class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Transaction Detail</h5>
                    </div>

                    <table class="table">

                        <tbody>
                        <tr>
                            <th>Transaction Number :</th>
                            <td id="transaction_Id">#19</td>
                        </tr>

                        <tr>
                            <th>Sender Name :</th>
                            <td id="senderName">Ahmed Sirwan Tahr</td>
                        </tr>
                        <tr>
                            <th>Receiver Name :</th>
                            <td id="receiveName">Zhyar A Jamal</td>
                        </tr>
                        <tr>
                            <th>Date-Time :</th>
                            <td id="date">20/01/2020 05:33 AM</td>
                        </tr>
                        <tr>
                            <th>Receiving Currency</th>
                            <td id="receivingCurrency">IQD</td>
                        </tr>

                        <tr>
                            <th>Amount :</th>
                            <td id="receivedAmount">350,000 IQD</td>
                        </tr>
                        </tbody>
                    </table>


                </div>


                <div id="attachments">
                    <div class="row">


                        <div id="sig" class="col form-control" style="width:100%; height: 80px;"></div>


                        <div class="col">
                            <!--                            <div class="kbw-signature" id="sig" style="width:100%; height: 80px;"></div>-->


                            <div class="col">
                                <textarea placeholder="Notes" style="width: 100%; height: 80px;"></textarea>
                            </div>


                        </div>
                        <br>
                    </div>

                    <div class="row">
                        <div class="col-12 ">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </div>
                    <br>


                    <button id="approveTransaction" type="submit" class="btn btn-success"><i class="far fa-check-circle"
                                                                                             aria-hidden="true"></i>
                        &nbsp;&nbsp;Mark as Received
                    </button>
                    <button type="submit" class="btn btn-danger"><i class="far fa-arrow-alt-circle-left"
                                                                    aria-hidden="true"></i> &nbsp;&nbsp;Back
                    </button>
                </div>
            </div>


        </div>


    </div>
    <div th:replace="fragments/footer :: footer"></div>


</div>


<script>

    var sig = $('#sig').signature();


</script>

</body>

</html>
<!--    <div class="preloader">-->
<!--        <div class="lds-ripple">-->
<!--            <div class="lds-pos"></div>-->
<!--            <div class="lds-pos"></div>-->
<!--        </div>-->
<!--    </div>-->