<!DOCTYPE HTML>
<html layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

>
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>

        $(document).ready(function () {


            $('#withDrawMoney').on('click', function (e) {

                e.preventDefault();

                // $('.alert-danger').attr("hidden","hidden");
                // $('.alert-success').attr("hidden","hidden");


                var url = window.location.origin + $('form').attr('action');     // Returns full URL (https://example.com/path/example.html)

                console.log(url);

                $.post(url, $("#withdraw_form").serialize(), function (data) {


                    var parseData = JSON.parse(data);
                    console.log(parseData['success']);

                    if (parseData['success'] === 'false') {
                        alert("Not Enough Amount Of currency");
                        // $('.alert-danger').removeAttr("hidden");
                    } else {
                        console.log("yeeeeeees");
                        alert("Money successfully")
                        $('.alert-success').removeAttr("hidden");
                    }
                });

            });
        });
    </script>
</head>
<body>

<div  class="page-wrapper" layout:fragment="content">


        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Withdraw Money </h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Finance</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Withdraw</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid">


            <form id="withdraw_form" action="/withdraw/" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="accountInputGroup"><i class="fas fa-user" aria-hidden="true"></i></span>
                    </div>

                    <select th:id="cusID" aria-describedby="accountInputGroup" name="cusID" autocomplete="on" required="" id="accountList" class="form-control"
                    >
                        <option selected disabled value="">Select Account</option>
                        <option th:each="customer : ${customers}"
                                th:value="${customer.id}"
                                th:utext="${customer.name}"></option>
                        <!--                                    th:value="${currency.id}"-->

                    </select>
                </div>
                <br>


                <script>



                </script>
                <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="amountInputGroup"><i class="fas fa-money-check-alt" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" name="amount" class="form-control" placeholder="Amount" aria-describedby="amountInputGroup" required="">

                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="currencyInputGroup"><i class="fas fa-dollar-sign" aria-hidden="true"></i></span>
                            </div>
                            <select aria-describedby="currencyInputGroup" required="" th:name="curID" th:id="curID" class="form-control"
                            >
                                <option selected value="">Sending Currency</option>
                                <option th:each="currency : ${currencies}"
                                        th:value="${currency.id}"
                                        th:utext="${currency.currency}"></option>
                                <!--                                    th:value="${currency.id}"-->

                            </select>                        </div>
                    </div>

                </div>
                <br>
                <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="recieveIG"><i class="fas fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input type="text" class="form-control" name="receiver" placeholder="Received By" aria-describedby="recieveIG" required="">

                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="phoneNumberIG"><i class="fas fa-hashtag" aria-hidden="true"></i></span>
                            </div>
                            <input name="phoneNumber" type="text" class="form-control" id="validationCustomUsername" placeholder="Phone Number" aria-describedby="phoneNumberIG" required="">
                        </div>
                    </div>

                </div>



                <br>
                <div class="row">

                    <div class="col">
                        <div id="sign" class="form-control kbw-signature" style="width:100%; height: 80px;">

                            <canvas width="180.333" height="66">Your browser doesn't support signing</canvas></div>



                    </div>
                    <div class="col">
                        <textarea class="form-control" name="notes" placeholder="Notes" style="width: 100%; height: 80px;"></textarea>

                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">

                    </div>
                </div>

                <br>
                <div onclick="$('#sign').signature('clear');" class="btn btn-dark"><i class="fas fa-undo-alt" aria-hidden="true"></i></div>
                <br>

                <br>
                <button id="withDrawMoney" type="submit" class="btn btn-warning"><i class="far fa-credit-card" aria-hidden="true"></i> Withdraw Money</button>
            </form>

        </div>

    <div th:replace="fragments/footer :: footer" ></div>



</div>

</body>

</html>
